@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.cdnfonts.com/css/aero');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #212529;
    color: white;
    font-family: 'Aero', sans-serif;
    /* add inner space */
    padding: 50px;
}


/* container holds both a the bakery-container and the cart-container. */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.bakery-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
}

.filter-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 10%;
    /* center everything */
    align-items: center;
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

.header {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.bakery-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
    /* margin-left: 10px; */
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: #457B9D;
    border-radius: 15px;
    width: 320px;
    height: 430px;
    position: relative;
}

.card-container:hover {
    background-color: #457b9d9f;

}

.preview {
    width: 320px;
    height: 250px;
    border-radius: 15px;
}

.info {
    padding: 7px;
    height: 150px;
}

.card-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 7px;;
}

.purchase {
    background-color: #46d3d895;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.purchase:hover {
    background-color: #46d3d845;
    color: white;
    border: 1px solid white;
}

.cart-container {
    display: flex;
    flex-direction: column;
    background-color: #457B9D;
    border-radius: 15px;
    position: relative;
    row-gap: 5px;
    padding: 15px;
}

.rule {
    /* add top and bottom margin */
    margin: 10px 0;
}